<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Vile Insult Generator</title>
    <link href="master.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="/" class="logo">Vile Insult Generator</a>
        <nav class="navbar">
            <ul>
                <a href="/">Home</a>
                <a href="/about">About</a>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h2>About the API</h2>
        <p>This application uses the <a href="https://evilinsult.com/api/#generate-insult-get">Evil Insult Generator API to fetch creative insults...</a></p>
        <h2>Find Me on GitHub</h2>
        <a href="https://github.com/anish6964" target="_blank">GitHub/anish6964</a>
    </div>

    <footer class="footer">
        <p>&copy; 2024, Made by AT</p>
    </footer>
</body>
</html>
